.specials-section {
  display: flex;
  height: 950px;
  flex-direction: column;
  padding-left: 50px; /* Optional: Adds padding to the left for spacing */
}

.specials-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 40px;
}

.specials-header h1 {
  font-size: 3rem;
  font-weight: bold;
  color: #333333;
  font-family: "Markazi Text", serif;
}

.menu-button {
  background-color: #ffcc33;
  color: #333333;
  padding: 12px 25px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-family: Karla, sans-serif;
  font-weight: bold;
}

.menu-button:hover {
  background-color: #e6b800;
}

.specials-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  justify-items: center;
}
