.about-section {
  display: grid;
  justify-content: space-between;
  align-items: center;
  height: 700px;
  padding: 40px;
}

.about-grid {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two-column grid */
  align-items: center;
  justify-items: center;
}

.about-description {
  /* margin-right: 40px; */
  margin: 100px;
}

.about-description h2 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #ffcc33;
  font-family: "Karla", sans-serif;
}

.about-description h4 {
  font-size: 20px;
  margin-bottom: 20px;
  color: orange;
  font-family: "Karla", sans-serif;
}

.about-description-one,
.about-description-two {
  font-size: 16px;
  line-height: 1.5;
  color: #4a6151;
  font-family: "Karla", sans-serif;
}

.image {
  position: relative; /* Set relative positioning for overlap */
  flex: 1; /* Takes up available space */
  display: flex;
  justify-content: center;
}

/* Upper Image */
img.image-upper {
  width: auto; /* Set image size */
  height: 400px;
  position: relative; /* Keeps it in the normal document flow */
  z-index: 2; /* Places the upper image on top */
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adds shadow for better visuals */
  top: 100px; /* Move it slightly lower than the upper image */
  left: -80px; /* Adjusts the overlap */
}

/* Lower Image */
img.image-lower {
  width: 350px; /* Same size as upper image */
  height: auto;
  position: absolute; /* Absolute positioning for overlap */
  z-index: 3; /* Places this image behind the upper image */
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .about-grid {
    flex-direction: column;
    align-items: center;
  }

  .description {
    text-align: center;
  }

  .image-lower {
    position: relative; /* Removes overlap on smaller screens */
    top: 0;
    left: 0;
    margin-top: 20px; /* Adds some spacing between images */
  }
}
