.reivew-section {
  background-color: bisque;
  padding-top: 200px;
  padding-bottom: 250px;
}

.review-header h2 {
  padding-bottom: 40px;
}

.review-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  align-items: center;
}
